<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!-- 
      Configure, which checks are valid for you. Possible values: true or false 
    -->
    <add key="ZiMADE.Check.TestProcess" value="true"/>
    <add key="JPCERT.Check.Keywords" value="true"/>
    <add key="JPCERT.Check.Registry" value="true"/>
    <add key="SOPHOS.Check.Services" value="true"/>
    <add key="SOPHOS.Stop.Services" value="true"/>
    <add key="SOPHOS.Disable.Services" value="true"/>
    <!-- 
      If you wish to collect the data on a shared folder, please specify value for following key 
      Value should contain the unc path of a shared folder, where the json files are stored 
      the specified folder must exist, otherwise json-files could not be stored there.
      - Definition for saving json-files on a shared folder:
        <add key="SharedDataFolder" value=""/>
      - Definition for saving json-files on \\Server\FolderWithAccess\EmoKill\SharedData
        (you may customize the path according to your needs):
        <add key="SharedDataFolder" value="\\Server\FolderWithAccess\EmoKill\SharedData"/>
    -->
    <add key="SharedDataFolder" value=""/>
  </appSettings>
</configuration>
